* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body * {
  outline: 1px solid pink;
} */

body {
  background-color: #999;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.images-container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  display: none;
}

img.active {
  display: block;
}

.btn {
  padding: 10px;
  border: 0;
  position: relative;
  top: -20px;
}

.btn:focus {
  outline: none;
}

#left {
  border-radius: 10px 0px 0px 10px;
}

#right {
  border-radius: 0px 10px 10px 0px;
}

/* animations */

.fade-in {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
